{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>  
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>     
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- Your custom CSS file -->
    <link rel="stylesheet" href="{% static 'shop/style.css' %}">
    <title> shopping </title>
</head>
<body>
     <div class="container">

         <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <button  id="cart" data-html="true" type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Bottom popover">
                                Cart(0)
                              </button>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                      </ul>
                    </div>
                  </nav>
            </div>
         </div>

        <div class="row">
            <div class="col-md-12">
                <form class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col">
                            <input type="search" name='item_name' placeholder="search for products" class="form-control form-control-borderless">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success" type="submit">Search</button>
                        </div>    
                    </div>

                </form>   
            </div>    
        </div> 
         
          <div class="row">
            {% for product in product_objects%}
            <div class="col-md-3">
                <div class="card">
                    <div id="checkout-container"></div>

                    <img src="{{product.image}}" class="card-img-top">
                    <div class="card-body">
                        <div id="nm{{product.id}}" class="card-title">{{product.title}}</div>
                        <div  id="price{{product.id}}" class="card-text">{{product.price}}
                        </div>   
                        <a href="/{{product.id}}" class="btn btn-warning"> View</a>
                        <button id="{{product.id}}" class="btn  atc btn-warning">Add to cart </button>
                    </div>
                </div>
            </div>
            {% endfor %}  
        </div>

        <div class="row">
            <div class="col-md-3 offset-md-4">
                <ul class="pagination">
                    {% if product_objects.has_previous %}
                        <li class="page-item">
                            <a  class="page-link" href="?page={{product_objects.previous_page_number}}">Previous</a>
                        </li>
                    {% endif%}

                    <li class="page-item active">
                        <a class="page-link" href="?page={{product_objects.number}}">Current</a>
                    </li>

                    {% if product_objects.has_next%}
                    <li class="page-item">
                        <a class="page-link"  href="?page={{product_objects.next_page_number}}">Next</a>
                    </li>   
                    {%endif%} 
                </ul>
            </div>
        </div>
    </div>        
    
</body>
<script type="text/javascript">
    console.log('this is working');
    if(localStorage.getItem('cart')==null){
        var cart = {};
    }
    else{
        cart = JSON.parse(localStorage.getItem('cart'));
    }
    $(document).on('click','.atc',function(){
        console.log("the button is clicked");
        var item_id = this.id.toString();
        var cart = JSON.parse(localStorage.getItem('cart'))||{};
        console.log(item_id);

        if(cart[item_id]!=undefined){
            quantity =cart[item_id][0] +1;
            cart[item_id][0] = quantity;
            cart[item_id][2] =cart[item_id][2] + parseFloat(document.getElementById("price"+item_id).innerHTML);


        }
        else{
            quantity= 1;
            price =parseFloat(document.getElementById("price"+item_id).innerHTML);
            name= document.getElementById("nm"+item_id).innerHTML;
            cart[item_id]=[quantity,name,price];
        }
        console.log(cart);
        localStorage.setItem('cart',JSON.stringify(cart));
        document.getElementById("cart").innerHTML="Cart("+Object.keys(cart).length +")";
        DisplayCart(); 
    });
    {% comment %} $(function(){
        //enable bootstrap popover
       $('[data-bs-toggle="popover"]').popover({
        html:true,
        content: '<h5>This is your cart</h5>',
       });
       document.getElementById("cart").setAttribute('data-bs-content','<h5>This is your cart</h5>');
    }); {% endcomment %}
    
    function DisplayCart(){
        var cart = JSON.parse(localStorage.getItem('cart')) || {};
        var cartString ="";
       // cartString += "<h5>This is your cart</h5>";
        var cartIndex =1;
        for(var itemId in cart){
            var itemName = document.getElementById("nm" + itemId)?.innerHTML || "Item Name";

            cartString += cartIndex + ". " + itemName + " (QTY: " + cart[itemId][0] + ")</br>";
            cartIndex += 1;
        }

      //  cartString += "<a href='/checkout'  class='btn btn-warning' id='checkout'>Checkout</a>";
        document.getElementById("cart").setAttribute('data-bs-content', cartString);
        var checkoutButton = document.createElement("a");
        checkoutButton.href = "/checkout";
        checkoutButton.innerHTML = "<button class='btn btn-warning' id='checkout'>Checkout</button>";
    
        var checkoutContainer = document.getElementById("checkout-container");
        checkoutContainer.innerHTML = ""; // Clear previous content
        checkoutContainer.appendChild(checkoutButton);
        
        $('[data-bs-toggle="popover"]').popover('show');
    }
    {% comment %} $(function () {
        $('[data-bs-toggle="popover"]').popover({
            html: true,
        });
    }); {% endcomment %}
</script>
</html>    









    
