
{% extends 'users/base.html' %}
{% load mathfilters %}
{% load static%}

{%block body%}
<div class="flex mt-5 p-10 justify-center">
    <h2 class="text-3xl font-normal mb-2 text-gray-500"> My Posts</h2>
</div>
<div class="grid mx-60   p-10 grid-cols-1">
    {% for post in posts%}
    <!--Card starts here-->
    <a href="#">
       
        <div class="rounded overflow-hidden w-[470px] bg-white shadow-lg">
        <div class="user-container flex mx-5 my-5">
                <img class="h-10 w-10 rounded-full" src="{{post.user.profile.photo.url}}" alt="">
                <div class="mx-2 my-2 font-bold"><span class="text-indigo-500">{{post.user}}</span></div>
        </div>
            <img class="height=200px width=200px" src="{{post.image.url}}" alt="">
        </div>
        <div class="px-6 py-4">
            <div class="icon-container flex gap-3">
                <a id="{{post.id}}" class="btn-like">
                    {% if logged_user in post.liked_by.all %}
                    <img class="w-5 h-5" src="{% static 'users/images/redlike.png' %}" alt="">
                    {%else%}
                    <img class="w-5 h-5" src="{% static 'users/images/like.png' %}" alt="">
                    {% endif %}
                </a>
               
                <img class="w-5 h-5" src="{% static 'users/images/comments.png' %}" alt="">
                <img class="w-5 h-5" src="{% static 'users/images/share.png' %}" alt="">
            </div>
        </div>
        <div>
            {% if post.liked_by.count < 1%}
            {%elif post.liked_by.count == 1%}
            {{post.liked_by.first}} Likes this
            {% elif post.liked_by.count > 1 %}
            {{post.liked_by.first }} & {{post.liked_by.count | sub:1 }}  Other like this
            {% endif %}
        </div>
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">{{post.title}}</div>
            <p class="text-gray-700 text-base ">{{post.caption}}</p>
        </div>
        <div class="px-5 py-5">
            {% for comment in post.comments.all%}
              <b>{{comment.posted_by}} </b>   :{{comment.body}}
            </br>
            {% endfor %}
        </div>
            <div class="px-5 py-5">
                <form method="post" class="bg-white  rounded ">
                    
                    {% csrf_token%}
                    <div class="flex">
                        
                    <div class=" border rounded  mr-10 text-grey-700">
                        {{comment_form.body}}
                    </div>
                    
                        <input type="hidden" name="post_id" id="post_id" value="{{post.id}}" >
                        <input type="hidden" name="posted_by" id="posted_by" value="{{logged_user}}" >

                    
                    
                        <button class="bg-green-500 text-white px-5 py-2" type="submit"> Add</button>

                    </div>
                    
                    
                </form>    
                
            </div>
    </a>   
    <!--card ends here-->
    {% endfor %}

</div>
<script type="text/javascript">
   // console.log('this is working')
   window.CSRF_TOKEN ="{{csrf_token}}"
   $(document).on('click','.btn-like',function(){
      var post_id = this.id
      $.ajax({
        method:"POST",
        url:'/posts/like',
        data:{post_id:post_id, csrfmiddlewaretoken:window.CSRF_TOKEN}
      })
      window.location.href="http://127.0.0.1:8000/posts/feed"
   })
</script>


{% endblock %}

