{% extends 'food/base.html' %}

{% block body%}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img height="200 px" src="{{ item.item_image}}" class="card">
        </div>
        <div class="col-md-5">
            <h1> {{object.item_name}}</h1>
            <h2>{{object.item_desc}}</h2>
            <h3>${{object.item_price}}</h3>
            <a href="{% url 'food:delete_item' item.id %}"> Delete </a>
            <a href="{% url 'food:create_item' %}"> Add item </a>
        </div>
    </div>
</div>        

{%endblock%}