
{% extends 'food/base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your HTML Page</title>
  

</head>
<body>
     {% block body%}
    {% for item in item_list%}  
        <div class="row">
             <div class="col-md-3 offset-md-2">
                <img class="card" height="150px" src="{{item.item_image}}"/>
             </div>
             <div class="col-md-4">
                <h3>{{item.item_name}}</h3>
                <h5>{{item.item_desc}}</h5>
                <h6>${{item.item_price}}</h6>
                <h6>{{ item.user}}</h6>
             </div>
             <div class="col-md-2">
                <a href="/food/{{item.id}}" class="btn btn-success"> Details</a>
             </div>   
        </div>
             
    {%endfor%}
    {% endblock%}

 this is the old code 
 
{% for item in item_list%}
    
<ul>
    <li>
      <a href="">  {{item.id}} -- {{item.item_name}} </a>
    </li>
</ul>       

{%endfor%}

    
   

</body>
</html>