{% extends 'users/base.html' %}
{%block body%}
  <h2 class="text-2xl m-10 font-bold"> 🔑 Change Password</h2>
<div class="container py-5 mx-10">
    <div class="error-container text-red-500 px-10">
        {% if form.error%}
            {%for field in form %}
                {{field.errors}}
            {%endfor%}
        {%endif%}   
    </div>
<form method="POST" class="bg-white shadow-md m-10 px-8 rounded pt-6 pb-8 mb-4 w-4/5"   enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-2">
           <label class="block text-grey-700 text-sm fontbold mb-2" for="">Old password</label>
           <div class="shadow appearance-none border rounded py-2 px-3 mr-10 text-grey-700">
            {{form.old_password}}
    
           </div>
    
        </div> 
        <div class="mb-2">
            <label class="block text-grey-700 text-sm fontbold mb-2" for="">New password</label>
            <div class="shadow appearance-none border rounded py-2 px-3 mr-10 text-grey-700">
             {{form.new_password1}}
            </div>
        </div>  
        <div class="mb-2">
            <label class="block text-grey-700 text-sm fontbold mb-2" for="">Confirm new password</label>
            <div class="shadow appearance-none border rounded py-2 px-3 mr-10 text-grey-700">
             {{form.new_password2}}
            </div>
        </div>    
        
        
           <button type="submit" class="bg-green-500 text-white my-5 px-5 py-2">Submit</button>
</form>      
  
 
 
{% endblock %}

